node_modules
**/.DS_Store

# Testing directory
out

# Build
bin/

test/temp

# Temp Test Files
TestContract.pdf
TestContract.png
TestContract.svg
TestContract.mmd
TestContract.md
TestContract.mmd
TestContract.md
collections/TestCollection.json

# Cursor
.cursorrules